<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Username</th>
            <th>Gender</th>
            <th>Married</th>
            <th>Dependents</th>
            <th>Education</th>
            <th>Self Employed</th>
            <th>Application Income</th>
            <th>Coapplication Income</th>
            <th>Loan Amount</th>
            <th>Loan Amount Term</th>
            <th>Credit History</th>
            <th>Property Area</th>
            <th>Status</th>
            <th>Created At</th>
        </tr>
    </thead>
    <tbody>
        {% for application, user in loan_applications %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ application.gender }}</td>
                <td>{{ application.married }}</td>
                <td>{{ application.dependents }}</td>
                <td>{{ application.education }}</td>
                <td>{{ application.self_employed }}</td>
                <td>{{ application.application_income }}</td>
                <td>{{ application.coapplication_income }}</td>
                <td>{{ application.loan_amount }}</td>
                <td>{{ application.loan_amount_term }}</td>
                <td>{{ application.credit_history }}</td>
                <td>{{ application.property_area }}</td>
                <td>{{ application.status }}</td>
                <td>{{ application.created_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>