{% extends "base.html" %}
{% block content %}
<div class="pagetitle">
    <h1>Farming Records</h1>
      <nav>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
              <li class="breadcrumb-item active">Records</li>
          </ol>
      </nav>
  </div>
  <!-- End Page Title -->
<section class="section">
    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% if "error" in messages[0] %}
                    <div class="alert alert-danger" role="alert">
                        {{messages[0]}}
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        {{messages[0]}}
                    </div>
                {% endif %}
            {% endif %}
        {% endwith %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h5 class="card-title">Farming Records</h5>
                    <button type="button" style="float: right;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategory">
                        Add New
                    </button>
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Season</th>
                                <th>Farmer</th>
                                <th>Stage</th>
                                <th>Field(hactares)</th>
                                <th>Applications</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rd in records %}
                                <tr>
                                    <td>{{ rd.id }}</td>
                                    <td>{{ rd.season }}</td>
                                    <td>{{ rd.firstnames }} {{ rd.surname }}</td>
                                    <td>{{ rd.stage }}</td>
                                    <td>{{ rd.size }}</td>
                                    <td>{{ rd.name }} ({{ rd.qty }})</td>
                                    <td>{{ rd.date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Large Modal -->
<div class="modal fade" id="addCategory" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="{{url_for('records')}}" method="POST">
                {{ form.hidden_tag() }}
                <div class="modal-header">
                    <h5 class="modal-title">Add New Farming Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form.farmer_id.label(class="form-label") }}
                            {{ form.farmer_id(id="inputText", class="form-control") }}
                            {% if form.farmer_id.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.farmer_id.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form.season_id.label(class="form-label") }}
                            {{ form.season_id(id="inputText", class="form-control") }}
                            {% if form.season_id.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.season_id.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form.stage.label(class="form-label") }}
                            {{ form.stage(id="inputText", class="form-control") }}
                            {% if form.stage.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.stage.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form.size.label(class="form-label") }}
                            {{ form.size(id="inputText", class="form-control") }}
                            {% if form.size.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.size.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form.qty.label(class="form-label") }}
                            {{ form.qty(id="inputText", class="form-control") }}
                            {% if form.qty.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.qty.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(id="inputText", class="form-control") }}
                            {% if form.name.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}