{% extends "base.html" %}
{% block content %}
<div class="pagetitle">
    <h1>Seasons</h1>
      <nav>
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{ url_for('dashboard') }}">Home</a></li>
              <li class="breadcrumb-item active">Seasons</li>
          </ol>
      </nav>
  </div>
  <!-- End Page Title -->
<section class="section">
    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% if "error" in messages[0] %}
                    <div class="alert alert-danger" role="alert">
                        {{messages[0]}}
                    </div>
                {% else %}
                    <div class="alert alert-success" role="alert">
                        {{messages[0]}}
                    </div>
                {% endif %}
            {% endif %}
        {% endwith %}
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <h5 class="card-title">Seasons</h5>
                    <button type="button" style="float: right;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCategory">
                        Add New
                    </button>
                    <table class="table table-striped table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sn in seasons %}
                                <tr>
                                    <td>{{ sn.id }}</td>
                                    <td>{{ sn.name }}</td>
                                    <td>{{ sn.start_date }}</td>
                                    <td>{{ sn.end_date }}</td>
                                    <td>
                                        <button type="button" class="btn btn-outline-primary btn-sm">
                                            <i class="bi bi-pencil-square"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-danger btn-sm">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Large Modal -->
<div class="modal fade" id="addCategory" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="{{url_for('seasons')}}" method="POST">
                {{ form.hidden_tag() }}
                <div class="modal-header">
                    <h5 class="modal-title">Add New Season</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form.name.label(class="form-label") }}
                            {{ form.name(id="inputText", class="form-control") }}
                            {% if form.name.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form.start_date.label(class="form-label") }}
                            {{ form.start_date(id="inputText", class="form-control") }}
                            {% if form.start_date.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.start_date.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            {{ form.end_date.label(class="form-label") }}
                            {{ form.end_date(id="inputText", class="form-control") }}
                            {% if form.end_date.errors %}
                                <div class="invalid-feedback">
                                    {% for error in form.end_date.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}